{% extends '/views/layouts/main.twig' %}
{% import "/views/site/_item.twig" as itemView %}

{% block content %}
<table class="cpt_product_category_info">
	<tr>
		<td><h1 style="font-size: 20px">Результаты поиска</h1>
		</td></tr>
</table>

{% if not items %}
    <h1>Ничего не найдено</h1>
{% endif %}
<table cellpadding="6" border="0" width="95%">
	{% for item in items %}
{% if loop.index is not even %}
<tr>
	{% endif %}
	<td valign="top" width="50%">
        {{ itemView.html(item) }}
	</td>
	{% if loop.index is even %}
</tr>
{% endif %}
{% endfor %}
</table>
    <div class="pager">
    {{ widget('CLinkPager', {'pages':pager}) }}
    </div>
    <style type="text/css">
        .pager {
            font-size: 110%;
            margin-top: 2em;
        }
        div.pager ul.yiiPager {
            font-size: 100%;
        }
    </style>
{% endblock %}
